.navbuttons {
    float: left;
    display: block;
    color: linen;
    background-color: inherit;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 12px;
    transition: 0.3s;
}

.navbuttons:hover {
    background-color: dimgray;
}

.navbuttons.active {
    background-color: lightslategray;
}

#quotationTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid dimgray;
    font-size: 18px;
    overflow-y: scroll;
}

#quotationTable th,
#quotationTable td {
    text-align: left;
    padding: 12px;
    width: 30px;
}

#quotationTable tr {
    border-bottom: 1px solid tomato;
}

#quotationTable tr.header,
#quotationTable tr:hover {
    background-color: #f1f1f1;
}

.tabcontent {
    display: none;
    margin-top: 25px;
    padding: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: silver;
    padding: 4px;
}