.navbuttons {
    float: left;
    display: block;
    color: linen;
    background-color: inherit;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 12px;
    transition: 0.3s;
}

.navbuttons:hover {
    background-color: dimgray;
}

.navbuttons.active {
    background-color: lightslategray;
}

#quotationTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid dimgray;
    font-size: 18px;
    overflow-y: scroll;
}

#quotationTable th,
#quotationTable td {
    text-align: left;
    padding: 12px;
    width: 30px;
}

#quotationTable tr {
    border-bottom: 1px solid tomato;
}

#quotationTable tr.header,
#quotationTable tr:hover {
    background-color: #f1f1f1;
}

.content {
    padding: 8px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.tabcontent {
    display: none;
    margin-top: 25px;
    padding: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: silver;
    padding: 4px;
}

.center {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

button#logoutButton:hover {
    border: 1px solid lightgray;
    background-color: ghostwhite;
}

button#logoutButton:active {
    background: darkseagreen;
    box-shadow: 2px 3px 1px 3px darkolivegreen, 4px 7px 3px 6px darkkhaki;
    transition: all 0.8s
}