.navbar {
    overflow: hidden;
    background-color: darkslategray;
    position: fixed;
    top: 0px;
    left: 8px;
    right: 8px;
}

.navbuttons {
    float: left;
    display: block;
    color: linen;
    background-color: inherit;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 12px;
    transition: 0.3s;
}

.navbuttons:hover {
    background-color: dimgray;
}

.navbuttons.active {
    background-color: lightslategray;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid darkgray;
    width: 100px;
    height: 32px;
    background-color: white;
    border-radius: 32px;
}

.button:active {
    background: darkseagreen;
    transition: all 0.8s;
    box-shadow: 2px 3px 1px 3px darkolivegreen, 4px 7px 3px 6px darkkhaki;
}

.spin {
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
}

#quotationTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid dimgray;
    font-size: 18px;
    overflow-y: scroll;
}

#quotationTable th,
#quotationTable td {
    text-align: left;
    padding: 12px;
    width: 30px;
}

#quotationTable tr {
    border-bottom: 1px solid tomato;
}

#quotationTable tr.header,
#quotationTable tr:hover {
    background-color: #f1f1f1;
}

.tabcontent {
    display: none;
    margin-top: 25px;
    padding: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: silver;
    padding: 4px;
}


@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes loading {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.5,1.5);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }